.wrapper {
  width: 100%;
  margin: 140rem;
  margin: 0 auto;
  font-family: "Noto Serif JP", serif;
}

/* ┌─────────────────────────────────────────┐
   │ ヘッダーエリア                          │
   └─────────────────────────────────────────┘ */
.header_area {
  position: relative;
  background-image: url("../img/mainvisual-pc.jpg");
  background-size: cover;
  background-position: center;

  height: 60rem;
  width: 100%;
}

.header_nav_area {
  position: absolute;
  right: 5rem; /* 右から40px */
  top: 5rem; /* 上から40px */

  display: flex;
  gap: 3rem; /* リスト間の余白 */
  /* justify-content: center; */
  justify-content: center;
  align-items: flex-start;
}

.header_nav {
  display: flex;
  gap: 3rem;
  writing-mode: horizontal-tb;
}

.header_nav li {
  writing-mode: vertical-rl; /* ← 子だけ縦書き */
  list-style: none;
}

.header_logo {
  width: 4rem;
  height: 9.2rem;
}

.header_nav a {
  color: rgba(255, 255, 255, 0.9); /* 半透明の白文字 */
  text-decoration: none;
}

.header_online {
  position: absolute;
  left: 5rem; /* 左から40px */
  bottom: 5rem; /* 下から40px */
  writing-mode: vertical-rl;

  padding: 1rem 1rem; /* 内側の余白 */

  display: flex;
  justify-content: right;
  background: rgba(180, 162, 162, 0.3); /* 半透明の黒背景 */
}

.header_online a {
  color: rgba(198, 180, 180, 0.9); /* 半透明の白文字 */
  text-decoration: none;
  writing-mode: vertical-rl;
}

.online_inner {
  border: 0.01rem solid rgba(198, 180, 180, 0.9); /* 半透明の白文字 */
  padding: 2rem 1rem; /* ← これを追加！ */
}

/* ┌─────────────────────────────────────────┐
   │ ニュース                        │
   └─────────────────────────────────────────┘ */

.news_container_relative {
  position: relative;
  width: 100%;
  height: 60rem; /* 例：暫定 */
  margin: 0 auto;
  background-color: #e6e2d7;
}

.news_container_absolute {
  position: absolute;
  top: 10rem;
  right: 10rem;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 10rem;
}

.news_title_item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.news_main_title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  writing-mode: vertical-rl;
}
.news_sub_title {
  font-size: 4rem;
  margin-bottom: 1rem;
  writing-mode: vertical-rl;
}

.news_list {
  display: flex;
  gap: 6rem;

  padding-top: 6rem;

  justify-content: flex-start;
  align-items: flex-start;
}

.news_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.news_link {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  list-style: none;
  writing-mode: vertical-rl;
}
.news_date {
  border-right: 0.2rem solid black;
  padding-right: 2rem;
  font-size: 1.4rem;
  color: #666666;
  margin-bottom: 0.5rem;
}

.news_text {
  font-size: 1.6rem;
  color: #000000;
}

/* ┌─────────────────────────────────────────┐
    新しい価値の創造（専用スタイル）
   └─────────────────────────────────────────┘ */

.concept_section {
  width: 100%;
  padding: 10rem 0;
  background-color: #e6e2d7;
}

.concept_container_relative {
  position: relative;
  width: 100%;
  height: 60rem;
  margin: 0 auto;
}

.concept_container {
  position: absolute;
  width: 70rem;
  top: 10rem;
  right: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
}

/* --- 2. 画像エリア --- */
.concept_image_wrap {
  padding-top: 10rem;
  flex: 1;
  position: relative;
  width: 50rem;
}

.concept_image {
  width: 63.9rem;
  height: 42.6rem;
}

/* --- 3. 黄色い箱（絶対配置ではみ出し） --- */
.concept_label {
  position: absolute;
  bottom: -5rem;
  left: -5rem; /* 黄色のカンプに合わせて左側へ */
  background-color: #f9e90699;
  padding: 4rem 2rem;
  width: 30rem;
}

.label_text {
  font-size: 1.4rem;
  line-height: 2;
  color: white;
}

/* --- 4. 縦書きタイトルエリア --- */
/* └ 親フレックス 　タイトルと　サブタイトル */
.concept_title_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

/* 新しい価値の創造 */
.concept_main_title {
  writing-mode: vertical-rl;
  font-size: 3.6rem;
  letter-spacing: 0.5em;
  font-family: Yu Mincho, serif;
}

/* Create New Values */
.concept_sub_title {
  writing-mode: vertical-rl;
  font-size: 1.6rem;
  color: #666;
  text-transform: uppercase;
}

/* ┌─────────────────────────────────────────┐
    科学と技術の調和
   └─────────────────────────────────────────┘ */

.science_section {
  padding: 10rem 0 30rem;
  background-color: #e6e2d7;
}

.science_container_relative {
  position: relative;
  width: 100%;
  height: 60rem;
  margin: 0 auto;
}

.science_container {
  position: absolute;
  top: 10rem;
  left: 15rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

/* --- 4. 縦書きタイトルエリア --- */
/* └ 親フレックス 　タイトルと　サブタイトル */
.science_title_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* └ 　科学と技術の調和 */
.science_main_title {
  writing-mode: vertical-rl;
  font-size: 3.6rem;
  letter-spacing: 0.5em;
  font-family: Yu Mincho, serif;
}

/* Science & Technology */
.science_sub_title {
  writing-mode: vertical-rl;
  font-size: 1.6rem;
  color: #666;
  text-transform: uppercase;
}

/* --- 2. 画像エリア --- */
.science_image_wrap {
  padding-top: 5rem;
  position: relative;
  width: 63.9rem;
}

/* └ 画像エリア  */
.science_image {
  width: 100%;
  height: 42.6rem;
}

/* --- 3. 黄色い箱（絶対配置ではみ出し） --- */
.science_label {
  position: absolute;
  bottom: -5rem;
  right: -5rem; /* 黄色のカンプに合わせて左側へ */
  background-color: #952a2699;
  padding: 4rem 2rem;
  width: 30rem;
}

/* 既にある */
/* .label_text {
  font-size: 1.4rem;
  line-height: 2;
  font-weight: bold;
} */
/* ┌─────────────────────────────────────────┐
   │Google マップ                           │
   └─────────────────────────────────────────┘ */
.map_area {
  width: 100%;
  height: 50rem;
  margin: 0 auto;
}
.map_frame {
  width: 100%;
  height: 100%;
  border: none;
}

/* ┌─────────────────────────────────────────┐
   │フッダーエリア　                           │
   └─────────────────────────────────────────┘ */
.footer_area {
  position: relative;
  background-color: #000000;

  height: 50rem;
  width: 100%;
}

.footer_nav_area {
  position: absolute;
  right: 5rem; /* 右から40px */
  top: 5rem; /* 上から40px */

  display: flex;
  gap: 3rem; /* リスト間の余白 */
  /* justify-content: center; */
  justify-content: center;
  align-items: flex-start;
}

.footer_nav {
  display: flex;
  gap: 3rem;
  writing-mode: horizontal-tb;
}

.footer_location {
  display: flex;
  gap: 3rem;
  /* ↓ ここを縦書きに変更 */
  writing-mode: vertical-rl;

  /* ↓ 重要！縦書きモードでの「横並び」は column になります */
  flex-direction: column;

  /* ↓ 数字（03や〒）を寝かせずに立たせる設定 */
  text-orientation: upright;
}

.footer_nav li {
  writing-mode: vertical-rl; /* ← 子だけ縦書き */
  list-style: none;
}

.footer_logo {
  width: 4rem;
  height: 9.2rem;
}

.footer_location a {
  color: rgba(255, 255, 255, 0.9); /* 半透明の白文字 */
  text-decoration: none;
}

.footer_nav a {
  color: rgba(255, 255, 255, 0.9); /* 半透明の白文字 */
  text-decoration: none;
}

.footer_online {
  position: absolute;
  left: 5rem; /* 左から40px */
  bottom: 5rem; /* 下から40px */
  writing-mode: vertical-rl;
}

.footer_online a {
  color: rgba(198, 180, 180, 0.9); /* 半透明の白文字 */
  text-decoration: none;
  writing-mode: vertical-rl;
}

.online_inner {
  border: 0.01rem solid rgba(198, 180, 180, 0.9); /* 半透明の白文字 */
  padding: 2rem 1rem; /* ← これを追加！ */
}

@media screen and (max-width: 768px) {
  .header_area {
    position: relative;
    background-image: url("../img/mainvisual-sp.jpg");
    background-size: cover;
    background-position: center;

    height: 60rem;
    width: 100%;
  }
  .header_nav a {
    color: rgba(255, 255, 255, 0.9); /* 半透明の白文字 */
    text-decoration: none;
    font-size: 1.6rem;
    font-family: Yu Mincho;
  }
  .news_container_absolute {
    position: absolute;
    top: 2rem;
    right: 2rem;

    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: flex-start;

    gap: 1rem;
  }

  .news_list {
    display: flex;
    gap: 1.5rem;

    padding-top: 6rem;

    justify-content: flex-start;
    align-items: flex-start;
  }

  .concept_container {
    position: absolute;
    width: 70rem;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }

  /* .concept_image {
    width: 30.1rem;
    height: 19.4rem;
  } */
}
